# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment variables
.env
.env.*

# Flask instance folder
instance/

# Flask cache and debug files
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Virtual environments
venv/
env/
flask_env/
ENV/
.venv/
.virtualenv/
Pipfile.lock

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# PyInstaller
dist/
build/
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# Docker
*.pid
*.seed
*.bak
docker-compose.override.yml

# Mac / Linux / Windows system files
.DS_Store
Thumbs.db
ehthumbs.db
