{% extends "base.html" %}
{% block title %}Book Appointment{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-body">
            <h3 class="mb-4">Book Appointment with <strong>Dr. {{ doctor.username }}</strong></h3>

            <form method="POST">
                {{ form.hidden_tag() }}

                <div class="form-group mb-3">
                    {{ form.appointment_time.label(class="form-label") }}
                    {{ form.appointment_time(class="form-control") }}
                </div>

                <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
