{% extends "base.html" %}
{% block title %}Available Doctors{% endblock %}

{% block content %}
{% include "message.html" %}
<div class="container mt-5">
    <h2 class="mb-4">Available Doctors</h2>

    {% if doctors %}
        <div class="list-group">
            {% for doctor in doctors %}
            {% if doctor.doctor_profile%}
                <a href="{{ url_for('doctor.doctor_profile', slug=doctor.doctor_profile.slug) }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    <div>
                        <strong>Dr. {{ doctor.username }}</strong>
                        {% if doctor.doctor_profile %}
                            <span class="text-muted d-block">Specialty: {{ doctor.doctor_profile.specialty }}</span>
                        {% endif %}
                    </div>
                    <span class="badge badge-primary badge-pill">View Profile</span>
                </a>
              {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <p>No doctors available at the moment.</p>
    {% endif %}
</div>
{% endblock %}
